@import "tailwindcss";

/* -------------------- Yekan Bakh -------------------- */
@font-face {
    font-family: "YekanBakh";
    src: url("/fonts/YekanBakh-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "YekanBakh";
    src: url("/fonts/YekanBakh-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "YekanBakh";
    src: url("/fonts/YekanBakh-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "YekanBakh";
    src: url("/fonts/YekanBakh-Heavy.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "YekanBakh";
    src: url("/fonts/YekanBakh-Fat.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
/* ---------------------------------------------------- */
:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "YekanBakh", Arial, sans-serif;
    overflow-x: hidden;
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button, input, textarea {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}
